<h1>Your Cart</h1>

<% if notice %>
  <p><%= notice %></p> 
<% end %>

<%= render @current_cart.line_items %>

<p>Order total: <strong><%= number_to_currency(@current_cart.total/100) %></strong> </p>

<% if @current_cart.status != "submitted" %>
  <%= button_to 'Checkout', checkout_path %>
<% end %>